<div class="ui main text container">
    <h1>Sobre</h1>
    <div class="ui text container">
        <p>Projeto de manutenção de projetos de amostragem e correção.</p>
        <p>
            <a href="https://gitlab.sigmageosistemas.com.br/gis/gis" class="ui button">
                <i class="gitlab icon"></i>
                Ver no Gitlab
            </a>
        </p>
    </div>
</div>
