<img src="/static/assets/images/short-paragraph.png" class='full-width'>
<div class="ui active dimmer inverted fixed-height">
    <div class="ui text loader"><%= polyglot.t('loading') %></div>
</div>
