<div class="ui main container middle aligned center aligned grid">
    <div class="auth-container column">
        <h2 class="ui blue image header">
            <img src="/static/assets/images/gis_logo-white.png" class="image">
        </h2>
        <form class="ui form" method='post' action=''>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="id_username" type="text" name="username" placeholder="Nome de Usuário" />
                    </div>
                        <div class="spacer" id="id_username_error"></div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="id_password" name="password" placeholder="Senha" />
                    </div>
                        <div class="spacer" id="id_password_error"></div>
                </div>
                <button type='submit' class="ui fluid large blue submit button">Login</button>
                <br>
                <a style='display: none' href='#users/password/reset/'><%= polyglot.t('password.forgot') %></a>
            </div>
        </form>
    </div>
</div>
