<div class="ui blue inverted massive menu" id="navbar">
    <div class="header item" id="home">
            <img id="navbar-logo" src="/static/assets/images/gis_logo-10.png" class="image">
            <%= polyglot.t('navbar.gis') %>
    </div>
    <div class="right menu">
        <div class="ui dropdown item">
            Admin
            <i class="dropdown icon"></i>
            <div class="menu transition hidden">
                <div class="header"><%= polyglot.t('gis.locale') %></div>
                    <div class="item" id="i18n-en">   
                        <% if (localStorage.getItem('locale') === 'en') { %>
                            <i class="check circle outline icon"></i>
                        <% } %>
                        <%= polyglot.t('i18n-en') %>
                    </div>
                    <div class="item" id="i18n-pt">
                        <% if (localStorage.getItem('locale') === 'pt') { %>
                            <i class="check circle outline icon"></i>
                        <% } %>
                        <%= polyglot.t('i18n-pt') %>
                    </div>
            </div>
        </div>
    </div>
</div>
