
<div id="main-container" class="pusher" style="background-color: transparent;">
    <div id="navbar"></div>
    
    <div class="ui bottom attached segment pushable" style="height: inherit; background: transparent; border: 0px !important; border-radius: 0 !important;">
        <div id="app-sidebar" class="ui overlay vertical right very wide sidebar rightsiderbar"></div>
        <div id="top-sidebar" class="ui top sidebar topsidebar"></div>
        <div id="msg-sidebar" class="ui top sidebar msgsidebar"></div>        
        <div class="pusher" style="height: inherit; background: transparent;">
            <div id="content"></div>
        </div>
    </div>    
    <div id="gis-modal"></div>
</div> 


