<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Screen cast - GIS</title>
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
</head>
<body id="app-body">
<script id="config" type="text/javascript">
    window.apiRoot = "{% url 'api-root' %}";
    window.apiLogin= "/api/rest-auth/login/";
    window.resetPassword = "/api/rest-auth/password/reset/confirm/";
</script>
<script src="/static/build/bundle.js"></script>
</body>
</html>
