html,
body {
    height: 100%;
    width: 100%;
    background-image: url(../images/sayagata-400px.png) !important;
    background-repeat: repeat !important;
    overflow: hidden;
}


#app {
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
}
#map {
    height: 92vh !important;
}

#navbar {
    z-index: 10;
    height: 6vh;
    min-height: 60px;
    border-radius: 0;    
}

.topsidebar {
    z-index: 10;
    background: white !important;
    height: 6vh;
    min-height: 60px !important;
}

#search-sft-content{
    padding: 8px;
    background: white;
    height: 6vh;
    min-height: 60px !important;
    overflow: hidden;    
}

#home img{
    width: 46px;
    padding-right: 10px;
}

#app-sidebar {
    z-index: 10;
    background: white;
    width: 50vw !important;
}

#content {
    height: 95vh;   
    z-index: 8;
    overflow: auto;
    overflow-x: hidden;
}

.content-detail {
    margin-top: 30px;
}

.auth-container {
    padding: 50px !important;
    width: 50vw !important;
}
#msg-sidebar {
    z-index: 10;
    height: 30px !important;
    margin: 5px;
}
#msgbar-container {
    z-index: 10;
    height: 30px !important;
    padding: 7px;
    color: white;
    font-weight: bold;
}
.siderbar-left { 
    z-index: 9
}
.sidebar-right { 
    z-index: 9
}
.small-space {
    margin-bottom: 2em;
}

.big-space {
    margin-bottom: 3em;
}

body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}

.spacer {
    margin-top: 4px;
    margin-bottom: 4px;
    float: left;
}

.fixed-height {
    height: 300px;
}
.small-map {
    height: 400px !important;
    margin-bottom: 2.5em;
}

.full-width {
    width:  100%;
}

.editable {
    transition: background-color 2s ease;
    -webkit-transition: background-color 2s;
}

.inline-error {
    background-color: #DB5B5B !important;
}

.inline-success {
    background-color: #2ABA1B !important;
}

.ui.dropdown.item.active.visible {
    z-index: 9999;
}

#workflow-editor {
    height: 600px;
}

#editor {
    height: 550px;
}

.ui.header > .image, .ui.header > img {
    width: 12em !important;
}


#cards-list {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

#side-panel{
    z-index: 1;
    left:0px;
    background-color: black;
    height: 95vh;
    width: 25%;
    padding: 20px;
}

#root-content {
    z-index: 0;
    float: right;
    width: 75% !important;
    padding: 10px !important;
}

#root-content i {
    margin:0!important;
}

#info-message {
    color: darkgrey;
}


#content-list{
    padding: 20px;
    background: white;
}

.sftinput {
    width: 80% !important;
}

#disabled-form {
    background: white;
    height: 246px;
    width: 700px;
    position: absolute;
    z-index: 10;
    opacity: .5;
}

#active-layer {
    z-index: 999 !important;
}

.ui.dropdown.leaflet-control.selection {
    z-index: 999 !important;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.label-form {
    min-width: 60px;
}
.colorPickerButton {
   height:35px;
   margin-top: 1px !important;
   cursor:pointer;
   border-radius: 3px;
}

#initial-color-button, #manual-color-button{
    background-color: #ff0033;
}

#final-color-button{
    background-color: #4286f4;
}

#navbar-logo{
    width: 50px !important;
    height: 35px !important;
}
