
    <div id='side-panel' class="ui sticky fixed" >
        <div id='search'></div>
    </div>

    <div class="ui container" id='root-content'>
        <h1>
            <%= viewName %>
            <% if (newRoute) { %>
                <div class="ui right floated large green button" id='new'>
                    <i class="add circle icon"></i>
                    <%= polyglot.t('model.new') %>
                </div>
                <div class="ui right floated large button" id='grid'>
                    <i class="grid layout icon"></i>
                </div>
                <div class="ui right floated large button" id='table'>
                    <i class="table icon"></i>
                </div>
            <% } %>
        </h1>
        <div id='list'></div>
    </div>
