<div class="ui container" id='content-list'>
    <h1>
        <%= viewName %>
        <div class="ui right floated large blue button" id='zoomAll'>
            <i class="zoom icon"></i>
            <%= polyglot.t('model.zoom.all') %>
        </div>
    </h1>
    <div id='list'></div>
</div>