    <div class="ui blue segment">
        <h3><%= polyglot.t('model.actions') %></h3>
        <div class="fluid ui buttons">
            <a class="ui black button " id='delete'><%= polyglot.t('model.delete') %></a>
        </div>
    </div>