
<form action="" method="post">
    <div class="ui icon header">
      <i class="<%= icon %> icon"></i>
      <h3><%= title %></h3>
    </div>
    <div class="content" id='form-content'>
   
    </div>
    <div class="actions">
      <div class="ui green ok button">
        <i class="checkmark icon"></i>
        Sim
      </div>
      <div class="ui red cancel button">
        <i class="remove icon"></i>
        Não
      </div>
    </div>
</form>

