
    <form class="ui large form" method='get' action=''>
        <div class="ui stacked segment">
            <div class="field">
                <h1>Implementar no template de destino!!!</h1>
            </div>
            <button class="ui fluid large blue submit button">
                <%= polyglot.t('search') %>
            </button>
        </div>
    </form>
