<div class="ui form">
    <div class="inline fields">
        <div class="four wide field">
            <label><strong><%= polyglot.t('address-matches.city') %></strong></label>
            <div class="ui input" style="width: 80% !important;">
                <input id="city-name" type="text" placeholder="<%= polyglot.t('address-matches.city.place-holder') %>">
            </div>
        </div>
        <div class="four wide field">
            <label> <strong> <%= polyglot.t('address-matches.status') %> </strong> </label>
            <div class="ui fluid selection dropdown" style="width: 80% !important;">
                <input type="hidden" name="status">
                <i class="dropdown icon"></i>
                <div class="default text"><%= polyglot.t('address-matches.status') %></div>
                <div class="menu">
                    <div class="item" data-value="MATCHED"><%= polyglot.t('address-matches.matchedStatus') %></div>
                    <div class="item" data-value="CREATED"><%= polyglot.t('address-matches.createdStatus') %></div>
                    <div class="item" data-value="REMOVED"><%= polyglot.t('address-matches.removedStatus') %></div>
                </div>
            </div>
        </div>
        <% if (filterType === 'full') { %>
            <div id="match-type-filter" class="four wide field">
                <label> <strong> <%= polyglot.t('address-matches.matchType') %> </strong> </label>
                <div class="ui fluid selection dropdown" style="width: 70% !important;">
                    <input type="hidden" name="match-type">
                    <i class="dropdown icon"></i>
                    <div class="default text"><%= polyglot.t('address-matches.matchType') %></div>
                    <div class="menu">
                        <div class="item" data-value="AUTO"><%= polyglot.t('address-matches.matchType.auto') %></div>
                        <div class="item" data-value="USER"><%= polyglot.t('address-matches.matchType.user') %></div>
                        <div class="item" data-value="INVALID"><%= polyglot.t('address-matches.matchType.invalid') %></div>
                    </div>
                </div>
            </div>
            <div id="rank-value-filter" class="four wide field">
                    <label><strong><%= polyglot.t('address-matches.rank') %></strong></label>
                    <div class="ui range" style="height: 70% !important;" id="range"></div>
                    <label id="rank-value">0.75</label>
            </div>
        <% } %>
    </div>
    <br/>
    <button id="filter" class="positive ui right floated button"><%= polyglot.t('general.filter') %></button>
    <button id="clear" class="ui right floated button"><%= polyglot.t('general.clear') %></button>
    <button id="hide" class="ui right floated button"><%= polyglot.t('general.hide') %></button>
</div>