
    <form class="ui form form-inline editableform">
        <div class="control-group">
             <div>
                <div class="editable-input field"></div>
                <div class="ui buttons editable-buttons"></div>
            </div>
             <div class="editable-error-block"></div>
        </div> 
    </form>
