
<div class="ui icon header">
  <i class="<%= icon %> icon"></i>
  <%= title %>
</div>
<div class="content">
  <p><%= message %></p>
</div>
<div class="actions">
  <div class="ui green ok button">
    <i class="checkmark icon"></i>
    <%= polyglot.t('yes') %>
  </div>
  <div class="ui red cancel button">
    <i class="remove icon"></i>
    <%= polyglot.t('no') %>
  </div>
</div>

