<div class="ui main text container" id="content-detail">
    <h1>
        <%= polyglot.t('farms.detail_farm') %>
    </h1>
    <div class="ui segment" id='form'>
        <div class="ui large form">
            <form class='ui form' method='post' action=''>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('farms.name') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_name' type="text" name='name' placeholder="<%= polyglot.t('farms.name') %>" value="<%= name %>" />
                        </div>
                        <div class="spacer" id="id_name_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('farms.keymap') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_key_map' type="text" name='key_map' placeholder="<%= polyglot.t('farms.keymap') %>" value="<%= key_map %>" />
                        </div>
                        <div class="spacer" id="id_key_map_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('farms.property_type') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_property_type' type="text" name='property_type' placeholder="<%= polyglot.t('farms.property_type') %>" value="<%= property_type %>" />
                        </div>
                        <div class="spacer" id="id_property_type_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('farms.adm_unit') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_adm_unit' type="text" name='adm_unit' placeholder="<%= polyglot.t('farms.adm_unit') %>" value="<%= adm_unit %>" />
                        </div>
                        <div class="spacer" id="id_adm_unit_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('farms.crop') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_crop_name' type="text" name='crop_name' placeholder="<%= polyglot.t('farms.crop') %>" value="<%= crop_name %>" />
                        </div>
                        <div class="spacer" id="id_crop_name_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <button class="ui blue submit button <%= templateHelpers.hasPermission('agro.change_farm') ? '' : 'disabled' %>" type="submit">
                            <%= polyglot.t('save') %>
                        </button>
                    </div>
                </div>
            </div>  
        </form>
    </div>
</div>
