<td><%= name %></td>
<td><%= key_map %></td>
<td><%= property_type %></td>
<td>
    <button id="detail" class="ui icon button" style="float: right;"><i class="info circle icon"></i></button>
    <button id="zoomTo" class="ui icon button" style="float: right;"><i class="zoom icon"></i></button>
</td>