    <thead>
        <tr>
            <th><%= polyglot.t('farms.name') %></th>
            <th>Keymap</th>
            <th><%= polyglot.t('farms.property_type') %></th>
            <th><%= polyglot.t('model.actions') %></th>
        </tr>
    </thead>
    <tbody></tbody>
