<div class="ui main text container" id="content-detail">
    <h1>
        <%= polyglot.t('parcels.detail_parcel') %>
    </h1>
    <div class="ui segment" id='form'>
        <div class="ui large form">
            <form class="ui form" method='post' action=''>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('parcels.name') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_name' type="text" name='name' placeholder="<%= polyglot.t('parcels.name') %>" value="<%= name %>" />
                        </div>
                        <div class="spacer" id="id_name_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('parcels.keymap') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_key_map' type="text" name='key_map' placeholder="<%= polyglot.t('parcels.keymap') %>" value="<%= key_map %>" />
                        </div>
                        <div class="spacer" id="id_key_map_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('parcels.farm_name') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_farm_name' type="text" name='farm_name' placeholder="<%= polyglot.t('parcels.farm_name') %>" value="<%= farm_name %>" />
                        </div>
                        <div class="spacer" id="id_farm_name_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('parcels.soil_type') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_soil_name' type="text" name='soil_name' placeholder="<%= polyglot.t('parcels.soil_type') %>" value="<%= soil_name %>" />
                        </div>
                        <div class="spacer" id="id_soil_name_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <label class="label-form"><%= polyglot.t('parcels.crop') %></label>
                        <div class="ui left icon input">
                            <i class="text cursor icon"></i>
                            <input id='id_crop_name' type="text" name='crop_name' placeholder="<%= polyglot.t('parcels.crop') %>" value="<%= crop_name %>" />
                        </div>
                        <div class="spacer" id="id_crop_name_error"></div>
                    </div>
                </div>
                <div class="required fields">
                    <div class="fourteen wide required field <%= templateHelpers.disableIfRemoteStack() %>">
                        <button class="ui blue submit button <%= templateHelpers.hasPermission('agro.change_parcel') ? '' : 'disabled' %>" type="submit">
                            <%= polyglot.t('save') %>
                        </button>
                    </div>
                </div>
            </div>  
        </form>
    </div>
    <div id="disabled-form"></div>
</div>
