    <thead>
        <tr>
            <th><%= polyglot.t('parcels.farm_name') %></th>
            <th>Keymap</th>
            <th><%= polyglot.t('parcels.crop_name') %></th>
            <th><%= polyglot.t('parcels.soil_type') %></th>
            <th><%= polyglot.t('model.actions') %></th>
        </tr>
    </thead>
    <tbody></tbody>
